/** drop shadow on the navbar */
 
 .navbar {
    box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, .4);
}

.container h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    margin: 1em 0 .5em 0;
}

.container p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em;
        color: rgb(87, 86, 86);
    
    }

/** footer top rule */
.row {
    border-top: 2px solid black;
}

/** footer words */
.row p {
    color: black;
    font-size: .75rem;
    text-align: center;
    
    }

/** fade words */

#mainBody    {
    position: relative;
}
#mainBody img{
    display: relative;    
}

/** text over image on home page */

#mainBody h1 {
    position: absolute;
    font-size: 5.0vw;
    top: 50%;
    bottom: 50%;
    color: rgb(47, 0, 255);
    display: none;
}


#newTasting {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: auto;
}

#tForm {
    display: inline-block;
    margin: auto;
    position: relative;            
}

.form-group .form-check label {
    position: relative;            
    font-family: 'Open Sans', sans-serif;

}

.formcontrol {


}
/** text over form */
#newTasting h1{
    position: absolute;
    font-size: 5.0vw;
    top: 50%;
    bottom: 50%;
    color: rgb(47, 0, 255);
    display: none;
    opacity: 100%;
}
