/** drop shadow on the navbar */
 
 .navbar {
    box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, .4);
}

.container h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    margin: 1em 0 .5em 0;
}

.container p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em;
        color: rgb(87, 86, 86);
    
    }

/** footer top rule */
.row {
    border-top: 2px solid black;
}

/** footer words */
.row p {
    color: black;
    font-size: .75rem;
    text-align: center;
    
    }

.card-body p {
    font-size: .90em

}

.form-group .form-check label {
    font-family: 'Open Sans', sans-serif;

}

#mainBody    {
    position: relative;
}
#mainBody img{
    display: relative;    
}


#mainBody h1 {
    position: absolute;
    font-size: 15.0vw;
    top: 50%;
    bottom: 50%;
    color: rgb(47, 0, 255);
    text-align: center;
    display: none;
}